*{
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: whitesmoke;
}
.header{
  background-color: gray;
 
 }
 
nav{

    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    padding-right: 5px;
    
}
.placeholder{
float: left;
padding-left: 100px;
padding-top: 25px ;
}

nav ul{
    padding-left:1px;
}
nav ul li{

    display: inline-block;
    padding-top: 30px;
    padding-left: 50px;
}
main{
margin-bottom: 25px;
}
.placeholder2{
    width: 100%;
}
.second{
    display: inline-block;
    
}
.placeholder3{
    width: 33%;
    padding: 1%;
}


.placeholder4{
    width:50%;
    float: left;
    padding-right: 50px;
}
p{display: inline-block;
    font-weight: bold;
    text-align: justify;
    width: 40%;
   
}
footer{
    background-color: gray;
    height: 100px;
    margin-top: 400px;
}